soap-client/src/main/java/hajji/mohammed/proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://mohammed.hajji/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://mohammed.hajji/" name="BWS">
<types>
<xsd:schema>
<xsd:import namespace="http://mohammed.hajji/" schemaLocation="http://localhost:9090/?xsd=1"/>
</xsd:schema>
</types>
<message name="getAccountList">
<part name="parameters" element="tns:getAccountList"/>
</message>
<message name="getAccountListResponse">
<part name="parameters" element="tns:getAccountListResponse"/>
</message>
<message name="convertEuroToDH">
<part name="parameters" element="tns:convertEuroToDH"/>
</message>
<message name="convertEuroToDHResponse">
<part name="parameters" element="tns:convertEuroToDHResponse"/>
</message>
<message name="getCompte">
<part name="parameters" element="tns:getCompte"/>
</message>
<message name="getCompteResponse">
<part name="parameters" element="tns:getCompteResponse"/>
</message>
<portType name="BanqueService">
<operation name="getAccountList">
<input wsam:Action="http://mohammed.hajji/BanqueService/getAccountListRequest" message="tns:getAccountList"/>
<output wsam:Action="http://mohammed.hajji/BanqueService/getAccountListResponse" message="tns:getAccountListResponse"/>
</operation>
<operation name="convertEuroToDH">
<input wsam:Action="http://mohammed.hajji/BanqueService/convertEuroToDHRequest" message="tns:convertEuroToDH"/>
<output wsam:Action="http://mohammed.hajji/BanqueService/convertEuroToDHResponse" message="tns:convertEuroToDHResponse"/>
</operation>
<operation name="getCompte">
<input wsam:Action="http://mohammed.hajji/BanqueService/getCompteRequest" message="tns:getCompte"/>
<output wsam:Action="http://mohammed.hajji/BanqueService/getCompteResponse" message="tns:getCompteResponse"/>
</operation>
</portType>
<binding name="BanqueServicePortBinding" type="tns:BanqueService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAccountList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="convertEuroToDH">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BWS">
<port name="BanqueServicePort" binding="tns:BanqueServicePortBinding">
<soap:address location="http://localhost:9090/"/>
</port>
</service>
</definitions>